
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            Bank Branch Management
        </h3>
    </div>
    <div class="panel-body" ng-init="$ctrl.init();">
        <div>
            <button class="btn btn-primary" value="addModal" ng-click="$ctrl.open(null,'Add Bank Branch')">{{'ADDNEW' | translator}}</button>
       </div>   
        <div class="clearfix" style="height: 5px;"></div>
        <div class="table-responsive">
            <table st-table="displayColl" st-safe-src="rowCollection" id="smartTable" class="table table-striped table-bordered table-hover">
                <thead class="bg-light-blue">
                    <tr>
                        <th st-sort="Name" st-sort-default="regular">{{'NAME' | translator}}<i st-sort="Name"></i></th>
                        <th st-sort="Code">{{'CODE' | translator}}<i st-sort="Code"></i></th>
                        <th st-sort="SwiftCode">{{'SWIFTCODE' | translator}}<i st-sort="SwiftCode"></i></th>
                        <th st-sort="Bank">{{'BANK' | translator}}<i st-sort="Bank"></i></th>
                        <th st-sort="Address">{{'ADDRESS' | translator}}<i st-sort="Address"></i></th>
                        <th>{{'ACTIVE' | translator}}</th>
                        <th>{{'ACTION' | translator}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            <div class="search-container">
                                <span class="icon"><i class="fa fa-search"></i></span>
                                <input id="search" st-search="Name" placeholder="Search by Name" class="input-sm form-control" type="search" />
                            </div>
                        </th>
                        <th>
                            <div class="search-container">
                                <span class="icon"><i class="fa fa-search"></i></span>
                                <input id="search" st-search="Code" placeholder="Search by Code" class="input-sm form-control" type="search" />
                            </div>
                        </th>
                        <th>
                            <div class="search-container">
                                <span class="icon"><i class="fa fa-search"></i></span>
                                <input id="search" st-search="SwiftCode" placeholder="Search by SwiftCode" class="input-sm form-control" type="search" />
                            </div>
                        </th>
                        <th>
                            <div class="search-container">
                                <span class="icon"><i class="fa fa-search"></i></span>
                                <input id="search" st-search="bankModel.Name" placeholder="Search by Bank" class="input-sm form-control" type="search" />
                            </div>
                        </th>
                        <th>
                            <div class="search-container">
                                <span class="icon"><i class="fa fa-search"></i></span>
                                <input id="search" st-search="Address.Name" placeholder="Search by Address" class="input-sm form-control" type="search" />
                            </div>
                        </th>
                    <tr ng-repeat="bankbranch in displayColl">
                        <td>{{ bankbranch.Name}}</td>
                        <td>{{ bankbranch.Code}}</td>
                        <td>{{ bankbranch.SwiftCode}}</td>
                        <td>{{ bankbranch.bankModel.Name}}</td>
                        <td>{{ bankbranch.Address}}</td>
                        <td><input style="width: 16px;height: 16px;" type="checkbox" value="{{bankbranch.IsActive}}" ng-disabled="true" ng-checked="bankbranch.IsActive" ng-model="bankbranch.IsActive" /> </td>
                        <td>
                            <div class="glyphicon glyphicon-edit" value="Edit" ng-click="$ctrl.open(bankbranch,'Edit bank Branch')"> </div>
                            <div class="glyphicon glyphicon-remove" confirm-window
                                 confirm-data="{{bankbranch}}"
                                 confirm-url="{{'bankbranch/delete'}}" confirm-value="{{bankbranch.Name}}"
                                 modal-title="Are you sure you want to delete '{{bankbranch.Name}}'?">
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot style="border:none !important;">
                    <tr style="border:none !important;">
                        <td colspan="5" class="text-center" style="border:none !important;">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div st-items-by-page="15" st-pagination="" st-template="../views/pagination/paginationTemplate.html"></div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
            </div>
        </div>
</div>
