

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            System Settings
        </h3>
    </div>
    <div class="panel-body" ng-init="$ctrl.init();">
        <div>
            <button class="btn btn-primary" value="addModal" ng-click="$ctrl.open(null,'Add Application')">
                {{'ADDNEW' | translator}}
            </button>
        </div>
        <div class="clearfix" style="height: 5px;"></div>
        <div class="table-responsive">
            <table st-table="displayColl" st-safe-src="rowCollection" id="smartTable" class="table table-striped table-bordered table-hover">
                <thead class="bg-light-blue">
                    <tr>
                        <th st-sort="Name" st-sort-default="regular">{{'NAME' | translator}}<i st-sort="Name"></i></th>
                        <th st-sort="Code">{{'CODE' | translator}}<i st-sort="Code"></i></th>
                        <th st-sort="Description">{{'DESCRIPTION' | translator}}<i st-sort="Description"></i></th>
                        <th>{{'ACTIVE' | translator}}</th>
                        <th>{{'ACTION' | translator}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            <!--<input st-search="BusinessCategory.Name" placeholder="Search by BusinessCategory" class="input-sm form-control" type="search" />-->
                            <div class="search-container">
                                <span class="icon"><i class="fa fa-search"></i></span>
                                <!--<input type="search" id="search" ng-model="searchkey" ng-change="searchText()" placeholder="Search by keyword..." />-->
                                <input id="search" st-search="Name" placeholder="{{'SEARCHBYNAME' | translator}}" class="input-sm form-control" type="search" />
                            </div>
                        </th>
                        <th>
                            <div class="search-container">
                                <span class="icon"><i class="fa fa-search"></i></span>
                                <!--<input type="search" id="search" ng-model="searchkey" ng-change="searchText()" placeholder="Search by keyword..." />-->
                                <input id="search" st-search="Code" placeholder="{{'SEARCHBYCODE' | translator}}" class="input-sm form-control" type="search" />
                            </div>
                        </th>
                        <th>
                            <div class="search-container">
                                <span class="icon"><i class="fa fa-search"></i></span>
                                <!--<input type="search" id="search" ng-model="searchkey" ng-change="searchText()" placeholder="Search by keyword..." />-->
                                <input id="search" st-search="Description" placeholder="{{'SEARCHBYDESCRIPTION' | translator}}" class="input-sm form-control" type="search" />
                            </div>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>

                    <tr ng-repeat="app in displayColl">
                        <td>{{ app.Name}}</td>
                        <td>{{ app.Code}}</td>
                        <td>{{ app.Description}}</td>
                        <td>
                            <input style="width: 16px;height: 16px;" type="checkbox" value="{{app.IsActive}}"
                                   ng-disabled="true" ng-checked="app.IsActive" ng-model="app.IsActive" />
                        </td>
                        <td>
                            <div class="glyphicon glyphicon-edit" value="Edit" ng-click="$ctrl.open(app,'Edit Application Data')"> </div>
                            <div class="glyphicon glyphicon-remove" confirm-window
                                 confirm-data="{{app}}"
                                 confirm-url="{{'app/delete'}}" confirm-value="{{app.Name}}"
                                 modal-title="Are you sure you want to delete '{{app.Name}}'?">
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot style="border:none !important;">
                    <tr style="border:none !important;">
                        <td colspan="5" class="text-center" style="border:none !important;">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div st-items-by-page="15" st-pagination="" st-template="../views/pagination/paginationTemplate.html"></div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        </div>
</div>