
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            Development Skill Items of Staffs
        </h3>
    </div>
    <div class="panel-body" ng-init="$ctrl.init();">
        <div>
            <button class="btn btn-primary" value="addModal" ng-click="$ctrl.open(null,'Add Development Skill Item')">{{'ADDNEW' | translator}}</button>
        </div>
        <div class="clearfix" style="height: 5px;"></div>
        <div class="table-responsive">
            <table st-table="displayColl" st-safe-src="rowCollection" id="smartTable" class="table table-striped table-bordered table-hover">
                <thead class="bg-light-blue">
                    <tr>
                        <th st-sort="Name" st-sort-default="regular">{{'NAME' | translator}}<i st-sort="Name"></i></th>
                        <th st-sort="Description">{{'DESCRIPTION' | translator}}<i st-sort="Description"></i></th>
                        <th st-sort="DevSkillModel.Name">Development Skill<i st-sort="DevSkillModel.Name"></i></th>
                        <th st-sort="SortBy">{{'SORTBY' | translator}}<i st-sort="SortBy"></i></th>
                        <th>{{'ACTIVE' | translator}}</th>
                        <th>{{'ACTION' | translator}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            <div class="search-container">
                                <span class="icon"><i class="fa fa-search"></i></span>
                                <input id="search" st-search="Name" placeholder="{{'SEARCHBYNAME' | translator}}" class="input-sm form-control" type="search" />
                            </div>
                        </th>
                        <th>
                            <div class="search-container">
                                <span class="icon"><i class="fa fa-search"></i></span>
                                <input id="search" st-search="Description" placeholder="{{'SEARCHBYDESCRIPTION' | translator}}" class="input-sm form-control" type="search" />
                            </div>
                        </th>
                        <th>
                            <div class="search-container">
                                <span class="icon"><i class="fa fa-search"></i></span>
                                <input id="search" st-search="DevSkillModel.Name" placeholder="Search by Development Skill" class="input-sm form-control" type="search" />
                            </div>
                        </th>
                        <th>
                            <div class="search-container">
                                <span class="icon"><i class="fa fa-search"></i></span>
                                <input id="search" st-search="SortBy" placeholder="{{'SEARCHBYSORTBY' | translator}}" class="input-sm form-control" type="search" />
                            </div>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>

                    <tr ng-repeat="staffdev in displayColl">
                        <td>{{ staffdev.Name}}</td>
                        <td>{{ staffdev.Description}}</td>
                        <td>{{ staffdev.DevSkillModel.Name}}</td>
                        <td>{{ staffdev.SortBy}}</td>
                        <td>
                            <input style="width: 16px;height: 16px;" type="checkbox" value="{{staffdev.IsActive}}"
                                   ng-disabled="true" ng-checked="staffdev.IsActive" ng-model="staffdev.IsActive" />
                        </td>
                        <td>
                            <div class="glyphicon glyphicon-edit" value="Edit" ng-click="$ctrl.open(staffdev,'Edit Technical Skill Items')"> </div>
                            <div class="glyphicon glyphicon-remove" confirm-window
                                 confirm-data="{{staffdev}}"
                                 confirm-url="{{'staffdevelopmentskillitem/delete'}}" confirm-value="{{staffdev.Name}}"
                                 modal-title="Are you sure you want to delete '{{staffdev.Name}}'?">
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot style="border:none !important;">
                    <tr style="border:none !important;">
                        <td colspan="5" class="text-center" style="border:none !important;">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div st-items-by-page="20" st-pagination="" st-template="../views/pagination/paginationTemplate.html"></div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
