.<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$ctrl.Close()">×</button>
        <h4 class="modal-title" align="center">{{$ctrl.title}}</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="unitPriceForm">
            <div class="form-group">
                <div class="col-md-4">
                    <span>{{'UNIT' | translator}}</span>
                </div>
                <div class="col-md-6">
                    <select name="unit" id="changeUnit" class="form-control"
                            ng-model="$ctrl.modalData.UnitID"
                            ng-class="{'invalid-input':isTriedSave && unitPriceForm.unit.$error.required}"
                            ng-options="item.ID as item.Name for item in $ctrl.unitList" required>
                        <option value="" ng-selected="true">Select</option>
                    </select>
                </div>
            </div>
            <div class="clearfix" style="height: 2px;"></div>
            <div class="form-group">
                <div class="col-md-4">
                    <span>{{'ESTIMATIONTYPE' | translator}}</span>
                </div>
                <div class="col-md-6">
                    <select name="est" id="changeest" class="form-control"
                            ng-model="$ctrl.modalData.EstimationTypeID"
                            ng-class="{'invalid-input':isTriedSave && unitPriceForm.est.$error.required}"
                            ng-options="item.ID as item.Name for item in $ctrl.estimationList" required>
                        <option value="" ng-selected="true">Select</option>
                    </select>
                </div>
            </div>
            <div class="clearfix" style="height: 2px;"></div>
            <div class="form-group">
                <div class="col-md-4">
                    <span>{{'SOURCELANGUAGE' | translator}}</span>
                </div>
                <div class="col-md-6">
                    <select name="languages" id="changeLanguages" class="form-control"
                            ng-model="$ctrl.modalData.SourceLanguageID"
                            ng-class="{'invalid-input':isTriedSave && unitPriceForm.languages.$error.required}"
                            ng-options="item.ID as item.Name for item in $ctrl.languageList" required>
                        <option value="" ng-selected="true">Select</option>
                    </select>
                </div>
            </div>
            <div class="clearfix" style="height: 2px;"></div>
            <div class="form-group">
                <div class="col-md-4">
                    <span>{{'TARGETLANGUAGE' | translator}}</span>
                </div>
                <div class="col-md-6">
                    <select name="language" id="changeLanguage" class="form-control"
                            ng-model="$ctrl.modalData.TargetLanguageID"
                            ng-class="{'invalid-input':isTriedSave && unitPriceForm.language.$error.required}"
                            ng-options="item.ID as item.Name for item in $ctrl.languageList" required>
                        <option value="" ng-selected="true">Select</option>
                    </select>
                </div>
            </div>
            <div class="clearfix" style="height: 2px;"></div>
            <div class="form-group">
                <div class="col-md-4">
                    <span>{{'CURRENCY' | translator}}</span>
                </div>
                <div class="col-md-6">
                    <select name="currency" id="changeCurrency" class="form-control"
                            ng-model="$ctrl.modalData.CurrencyID"
                            ng-class="{'invalid-input':isTriedSave && unitPriceForm.currency.$error.required}"
                            ng-options="item.Id as item.Name for item in $ctrl.currencyList" required>
                        <option value="" ng-selected="true">Select</option>
                    </select>
                </div>
            </div>
            <div class="clearfix" style="height: 2px;"></div>
            <div class="form-group">
                <div class="col-md-4">
                    <span>{{'GENERALUNITPRICE' | translator}}</span>
                </div>
                <div class="col-md-6">
                    <input type="text" name="generalunitPrice" class="form-control"
                           ng-class="{'invalid-input':isTriedSave && unitPriceForm.generalunitPrice.$error.required}"
                           ng-model="$ctrl.modalData.GeneralUnitPrice" only-decimal required />
                </div>
            </div>
            <div class="clearfix" style="height: 2px;"></div>
            <div class="form-group">
                <div class="col-md-4">
                    <span>{{'SPECIALUNITPRICE' | translator}}</span>
                </div>
                <div class="col-md-6">
                    <input type="text" name="specialunitPrice" class="form-control"
                            ng-class="{'invalid-input':isTriedSave && unitPriceForm.specialunitPrice.$error.required}"
                           ng-model="$ctrl.modalData.SpecialUnitPrice" only-decimal required />
                </div>
            </div>
            <div class="clearfix" style="height: 2px;"></div>
            <div class="form-group">
                <div class="col-md-4">
                    <span>{{'PATENTUNITPRICE' | translator}}</span>
                </div>
                <div class="col-md-6">
                    <input type="text" name="patentunitPrice" class="form-control"
                            ng-class="{'invalid-input':isTriedSave && unitPriceForm.patentunitPrice.$error.required}"
                           ng-model="$ctrl.modalData.PatentUnitPrice" only-decimal required/>
                </div>
            </div>
            <div class="clearfix" style="height: 2px;"></div>
            <div class="form-group">

                <div class="col-md-4"><span>{{'ACTIVE' | translator}}</span></div>
                <div class="col-md-6"><input type="checkbox" style="width:20px;height:20px;" ng-model="$ctrl.modalData.IsActive" required /></div>
            </div>
            <div class="modal-footer">
                <button id="btnClose" type="button" class="btn btn-danger" ng-click="$ctrl.Close()">Close</button>
                <input type="button" id="btnSave" class="btn btn-primary" ng-click="$ctrl.SaveUnitPrice()" value="Save" />
            </div>
        </form>
    </div>
</div>
