<div class="jumbotron">
    <h1>B-Cause Inc.</h1>
    <p class="lead">Central API</p>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Description</h2>
        <p>This REST API is made for integrating data from our central database.
        The New HiWork system will be the global ERP which is the permanent best solution for HiWork.
        Not only that It is the large scale system for maintaing translation business all over the World; 
        </p>
        <p><a class="btn btn-default" href="http://hiwork.jp/">Company Website</a></p>
    </div>
</div>
