<div role="tabpanel"  class="tab-pane" id="transpro" ng-init="$ctrl.init();">

	<form class="box-body" ng-submit="SaveTranspro(6)" name="Transpro">
		<div class="col-md-4 col-sm-6">
			<!-- Basic information start -->
			<div class="col-sm-12 remove-padding">
				<label class="control-label remove-padding ng-binding">Basic Information</label>
			</div>
			<div class="col-sm-12 thumbnail">
                <input type="hidden" ng-model="vm.transpro.ID" class="form-control" />
				<div class="form-group">
					<div class="col-sm-4">
						Affiliate code
					</div>
					<div class="col-sm-2">
						<input class="form-control" ng-model="vm.transpro.AffiliateCode" placeholder="" style="" type="text">
					</div>
					<div class="col-sm-2">
						Affiliate code(upper)
					</div>
					<div class="col-sm-4">
                        <select name="affiliateCodeUpper" class="form-control" ng-model="vm.transpro.AffiliateCodeUpperID" 
                                ng-options="item.ID as item.Name for item in vm.AffiliateCodeUpper">
                            <option value="" ng-selected="true">Affiliate code upper</option>
                        </select>
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Partner type
					</div>
					<div class="col-sm-8">

                        <select name="companyType" class="form-control" id="sel1"
                                ng-model="vm.transpro.PartnerTypeID"
                                ng-options="item.Id as item.Name for item in vm.PartnerType">
                            <option value="" ng-selected="true">Partner type</option>
                        </select>
			
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Partner name
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.Name" placeholder="" style="" type="text">
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Company no.
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.CompanyNumber" placeholder="" style="" type="text">
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						URL
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.TransPro_URL" placeholder="for partner's trans-pro" style="" type="text">
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						URL
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.EstimationSending_URL" placeholder="for sending estimation/inquiry" style="" type="text">
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Maintenance fee
					</div>
					<div class="col-sm-7">
						<input class="form-control" ng-model="vm.transpro.MaintenanceFee" placeholder="" style="" type="text" only-Decimal>
					</div>
					<div class="col-sm-1">
						円
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
			</div>
			<!-- Basic information end -->
		
			<!-- Price settings start -->
			<div class="col-sm-12 remove-padding">
				<label class="control-label remove-padding ng-binding">Price Settings</label>
			</div>
			<div class="col-sm-12 thumbnail">
				<div class="form-group">
					<div class="col-sm-5">
						Price magnification
					</div>
					<div class="col-sm-3">
						<input class="form-control" ng-model="vm.transpro.MagnificationPrice" placeholder="" style="" type="text"  only-Digits>
					</div>
					<div class="col-sm-1">
						%
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-5">
						Translator
					</div>
					<div class="col-sm-3">
						<input class="form-control" ng-model="vm.transpro.TranslatorPrice" placeholder="" style="" type="text" only-Digits>
					</div>
					<div class="col-sm-1">
						%
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-5">
						Partner company
					</div>
					<div class="col-sm-3">
						<input class="form-control" ng-model="vm.transpro.PartnerCompanyPrice" placeholder="" style="" type="text" only-Digits>
					</div>
					<div class="col-sm-1">
						%
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-5">
						Intermediate company/agent
					</div>
					<div class="col-sm-3">
						<input class="form-control" ng-model="vm.transpro.AgentPrice" placeholder="" style="" type="text" only-Digits>
					</div>
					<div class="col-sm-1">
						%
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-5">
						b-cause
					</div>
					<div class="col-sm-3">
						<input class="form-control" ng-model="vm.transpro.BcausePrice" placeholder="" style="" type="text" ng-change="handleChange(this)" only-Digits>
					</div>
					<div class="col-sm-1">
						%
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
			</div>
			<!-- Price settings end -->
		
			<!-- Company information start -->
			<div class="col-sm-12 remove-padding">
				<label class="control-label remove-padding ng-binding">Company information (to show on the website)</label>
			</div>
			<div class="col-sm-12 thumbnail">
				<div class="form-group">
					<div class="col-sm-4">
						Company name
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.CompanyName" placeholder="" style="" type="text">
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Post code
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.PostCode" placeholder="" style="" type="text">
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Address
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.Address" placeholder="" style="" type="text">
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						E-mail address
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.Email" placeholder="" style="" type="text">
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Contact No
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.ContactNumber" placeholder="" style="" type="text">
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						CEO's name
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.CEOName" placeholder="" style="" type="text">
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Company website(URL)
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.URL" placeholder="" style="" type="text">
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
			</div>
			<!-- Company information end -->
		</div>
		
		<div class="col-md-4 col-sm-6">
			<!-- Header settings start -->
			<div class="col-sm-12 remove-padding">
				<label class="control-label remove-padding ng-binding">Header Settings</label>
			</div>
			<div class="col-sm-12 thumbnail">
				<div class="form-group">
					<div class="col-sm-4">
						Logo
					</div>
					<div class="col-sm-8">
						<input class="form-control" id="logo"  ng-model="vm.transpro.Logo"  placeholder=""  accept="image/*"  style="" type="file" load-image >
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Image file
					</div>
					<div class="col-sm-8">
						<input class="form-control" id="image" ng-model="vm.transpro.Image" placeholder="" accept="image/*"  style="" type="file" load-image >
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Background image
					</div>
					<div class="col-sm-8">
						<input class="form-control" id="backImage"  ng-model="vm.transpro.BackgroundImage" placeholder="" accept="image/*" style="" type="file" load-image>
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Button image file
					</div>
					<div class="col-sm-8">
						<input class="form-control"  ng-model="vm.transpro.ButtonImage" placeholder="" accept="image/*" style="" type="file" load-image>
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
			</div>
			<!-- Header settings end -->
			
			
			<!-- Menu settings start -->
			<div class="col-sm-12 remove-padding">
				<label class="control-label remove-padding ng-binding">Menu settings</label>
			</div>
			<div class="col-sm-12 thumbnail">
				<div class="form-group">
					<div class="col-sm-4">
						Image file for Inquiry
					</div>
					<div class="col-sm-8">
						<input class="form-control"  ng-model="vm.transpro.InqueryImageFile" placeholder="" accept="image/*" style="" type="file" load-image>
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						URL for Inquiry
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.Inquery_URL" placeholder="" style="" type="text">
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Banner 1 Image
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.BannarImage1" placeholder=""  accept="image/*" style="" type="file" load-image>
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Banner 1 URL
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.BannarImage1_URL" placeholder="" style="" type="text">
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Banner 2 Image
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.BannarImage2" placeholder="" accept="image/*" style="" type="file" load-image>
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Banner 2 URL
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.BannarImage2_URL" placeholder="" style="" type="text">
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Facebook
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.FacebookID" placeholder="" style="" type="text">
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Title for description
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.Title" placeholder="" style="" type="text">
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-12">
						Contents for description
					</div>
					<div class="col-sm-12">
						<textarea class="form-control" ng-model="vm.transpro.Description" rows="4" placeholder="" style=""></textarea>
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
			</div>
			<!-- Header settings end -->
		</div>
		
		<div class="col-md-4 col-sm-6">
			<!-- Contact detail start -->
			<div class="col-sm-12 remove-padding">
				<label class="control-label remove-padding ng-binding">Contact detail</label>
			</div>
			<div class="col-sm-12 thumbnail">
				<div class="form-group">
					<div class="col-sm-5">
						Service name
					</div>
					<div class="col-sm-7">
						<input class="form-control" ng-model="vm.transpro.ServiceName" placeholder="" style="" type="text">
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-5">
						Invoice to
					</div>
					<div class="col-sm-7">
						<label class="radio-inline">
							<input type="radio"  ng-model="vm.transpro.IsInvoicePartner" ng-value="false"  name="invoice">b-cause
						</label>
						<label class="radio-inline">
							<input type="radio" ng-model="vm.transpro.IsInvoicePartner" ng-value="true" name="invoice">Partner
						</label>
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-5">
						Contact address in e-mail template
					</div>
					<div class="col-sm-7">
						<label class="radio-inline">
							<input type="radio" ng-model="vm.transpro.IsEmailTemplatepartner" ng-value="false"  name="addressemail">b-cause
						</label>
						<label class="radio-inline">
							<input type="radio" ng-model="vm.transpro.IsEmailTemplatepartner" ng-value="true" name="addressemail">Partner
						</label>
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-5">
						Receive the inquiry email
					</div>
					<div class="col-sm-7">
						<label class="radio-inline">
							<input type="radio"  ng-model="vm.transpro.IsAllowInqueryEmail" ng-value="false" name="inqueryemail">No
						</label>
						<label class="radio-inline">
							<input type="radio" ng-model="vm.transpro.IsAllowInqueryEmail" ng-value="true"  name="inqueryemail">Yes
						</label>
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
			</div>
			<!-- Contact detail end -->
			
			<!-- bank information start -->
			<div class="col-sm-12 remove-padding">
				<label class="control-label remove-padding ng-binding">Invoice detail (bank information)</label>
			</div>
			<div class="col-sm-12 thumbnail">
				<div class="form-group">
					<div class="col-sm-4">
						Bank name
					</div>
					<div class="col-sm-8">
                        <select name="bank" id="changeBank" class="form-control"
                                ng-model="vm.transpro.BankID"
                                ng-class="{'invalid-input':isTriedSave && Transpro.bank.$error.required}"
                                ng-options="item.Id as item.Name for item in vm.BankList"  required>
                            <option value="" ng-selected="true">{{'SELECTBANKNAME' | translator}}</option>
                        </select>
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Bank branch name
					</div>
					<div class="col-sm-8">
                        <select name="bankbranch" id="changeBankbranch" class="form-control"
                                ng-model="vm.transpro.BankBranchID"
                                ng-class="{'invalid-input':isTriedSave && Transpro.bankbranch.$error.required}"
                                ng-options="item.ID as item.Name for item in vm.BankBranchList" required>
                            <option value="" ng-selected="true">{{'SELECTBRANCHNAME' | translator}}</option>
                        </select>
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Account type
					</div>
					<div class="col-sm-8">
                        <select name="banktype"  class="form-control"
                                ng-model="vm.transpro.BankAccountTypeID"
                                ng-class="{'invalid-input':isTriedSave && Transpro.banktype.$error.required}"
                                ng-options="item.ID as item.Name for item in vm.BankAccTypeList" required>
                            <option value="" ng-selected="true">{{'SELECTACCOUNTTYPE' | translator}}</option>
                        </select>
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Account No.
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.AccountNumber" placeholder="" style="" type="text">
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Account holder
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.AccountHolder" placeholder="" style="" type="text">
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
			</div>
			<!-- bank information end -->
			
			<!-- billing address start -->
			<div class="col-sm-12 remove-padding">
				<label class="control-label remove-padding ng-binding">Invoice detail (billing address)</label>
			</div>
			<div class="col-sm-12 thumbnail">
				<div class="form-group">
					<div class="col-sm-4">
						Company name
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.InvoiceCompanyName" placeholder="" style="" type="text">
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Post code
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.InvoicePostCode" placeholder="" style="" type="text">
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Address 1
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.InvoiceAddress1" placeholder="" style="" type="text">
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Address 2
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.InvoiceAddress2" placeholder="" style="" type="text">
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						E-mail
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.InvoiveEmail" placeholder="" style="" type="text">
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Contact no.
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.InvoiceContactNumber" placeholder="" style="" type="text">
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Designation/position
					</div>
					<div class="col-sm-8">
                        <select name="designation" class="form-control"
                                ng-model="vm.transpro.InchargeDesignationID"
                                ng-options="item.ID as item.Name for item in vm.DesignationList">
                            <option value="" ng-selected="true">Select designation</option>
                        </select>	
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Person charge
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.InchagreName" placeholder="" style="" type="text">
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Company seal (link to the img file)
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.ComapanySealImage" placeholder="" accept="image/*" style="" type="file" load-image>
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-4">
						Addressed person's name
					</div>
					<div class="col-sm-8">
						<input class="form-control" ng-model="vm.transpro.AddressedPersonName" placeholder="" style="" type="text">
					</div>
					<div class="clearfix"></div>
					<div class="clearfix" style="height: 3px;"></div>
				</div>
			</div>
			<!-- billing address end -->			
		</div>
		
		<div class="">
            <ul class="list-inline pull-right">
                    <li><button type="button" class="btn btn-default prev-step" ui-sref="CompanyRegistration.subcontact">{{'PREVIOUS'|translator}}</button></li>
                    <li><button type="submit" class="btn btn-primary next-step">{{'SAVEANDCONTINUE'|translator}}</button></li>
                </ul>
        </div>
	</form>

</div>