
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$ctrl.Close()">×</button>
        <h4 class="modal-title" align="center">{{$ctrl.title}}</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="tsiForm">
            <div class="form-group">
                <div class="col-md-2">
                    <span>{{'NAME' | translator}}</span>
                </div>
                <div class="col-md-6">
                    <input type="text" name="name" class="form-control"
                           ng-class="{'invalid-input':isTriedSave && tsiForm.name.$error.required || $ctrl.modalData.Name.length > 100}"
                           ng-model="$ctrl.modalData.Name" required />
                </div>
            </div>
            <div class="clearfix" style="height:2px;"></div>
            <div class="form-group">
                <div class="col-md-2">
                    <span>{{'DESCRIPTION' | translator}}</span>
                </div>
                <div class="col-md-6">
                    <input type="text" name="desc" class="form-control"
                           ng-class="{'invalid-input':isTriedSave && tsiForm.desc.$error.required}"
                           ng-model="$ctrl.modalData.Description" required />
                </div>
            </div>
            <div class="clearfix" style="height:2px;"></div>
            <div class="form-group">
                <div class="col-md-2">
                    <span>{{'SORTBY' | translator}}</span>
                </div>
                <div class="col-md-6">
                    <input type="text" name="sortby" class="form-control" only-digits
                           ng-class="{'invalid-input':isTriedSave && tsiForm.sortby.$error.required}"
                           ng-model="$ctrl.modalData.SortBy" required />
                </div>
            </div>
            <div class="clearfix" style="height:2px;"></div>
            <div class="form-group">
                <div class="col-md-2">
                    <span>{{'CATEGORY' | translator}}</span>
                </div>
                <div class="col-md-6">
                    <select name="tsc" id="changeTSC" class="form-control"
                            ng-model="$ctrl.modalData.TechnicalSkillCategoryId"
                            ng-class="{'invalid-input':isTriedSave && tsiForm.tsc.$error.required}"
                            ng-options="item.Id as item.Name for item in $ctrl.tscList" required>

                        <option value="" ng-selected="true">Select</option>
                    </select>
                </div>
            </div>
           
            <div class="form-group">
                <div class="col-md-2">
                    <span>{{'ACTIVE' | translator}}</span>
                </div>
                <div class="col-md-6">
                    <input type="checkbox" style="width:20px;height:20px;"
                           ng-model="$ctrl.modalData.IsActive" required />
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnClose" type="button" class="btn btn-danger" ng-click="$ctrl.Close()">Close</button>
                <input ng-disabled="!$ctrl.enableSave" type="button" id="btnSave" class="btn btn-primary" ng-click="$ctrl.saveTSI()" value="Save" />
            </div>
        </form>
    </div>
</div>
