<div class="tab-pane active" id="details">
    <div class="panel panel-default">
        <div class="panel-body">
            <form name="hRDetailForm" novalidate role="form">
                <fieldset ng-disabled="vm.isDisabledHRDetails">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-5 col-sm-5 col-xs-5 ">
                            <div class="col-md-12 col-sm-12 col-xs-12 bg-gray">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <div class="clearfix" style="height:25px"></div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <lable>Overall skill</lable>
                                        </div>
                                        <div class="col-md-6 col-xs-6 col-sm-6 remove-padding">
                                            <lable>Average / Total Score</lable>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="clearfix" style="height:10px"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-6 ">
                                            <lable>Local Language</lable>
                                        </div>
                                        <div class="col-md-6 col-xs-6 col-sm-6 ">
                                            <lable>Average</lable>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="clearfix" style="height:25px"></div>

                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <div class="col-md-5 col-sm-5 col-xs-5 remove-padding">
                                                <lable>Pronouciation</lable>
                                            </div>
                                            <div class="col-md-7 col-xs-7 col-sm-7">
                                                <select class="form-control">
                                                    <option> 1</option>
                                                    <option> 2</option>
                                                    <option> 3</option>
                                                    <option> 4</option>
                                                    <option> 5</option>
                                                    <option selected="selected">-- SKill Level 1-5 -- </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix" style="height:5px"></div>
                                        <div class="form-group">
                                            <div class="col-md-5 col-sm-5 col-xs-5 remove-padding">
                                                <lable>Listening</lable>
                                            </div>
                                            <div class="col-md-7 col-xs-7 col-sm-7">
                                                <select class="form-control">
                                                    <option> 1</option>
                                                    <option> 2</option>
                                                    <option> 3</option>
                                                    <option> 4</option>
                                                    <option> 5</option>
                                                    <option selected="selected">-- SKill Level 1-5 --</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix" style="height:5px"></div>
                                        <div class="form-group">
                                            <div class="col-md-5 col-sm-5 col-xs-5 remove-padding">
                                                <lable>Reading</lable>
                                            </div>
                                            <div class="col-md-7 col-xs-7 col-sm-7">
                                                <select class="form-control">
                                                    <option> 1</option>
                                                    <option> 2</option>
                                                    <option> 3</option>
                                                    <option> 4</option>
                                                    <option> 5</option>
                                                    <option selected="selected">-- SKill Level 1-5 -- </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix" style="height:5px"></div>
                                        <div class="form-group">
                                            <div class="col-md-5 col-sm-5 col-xs-5 remove-padding">
                                                <lable>Writing</lable>
                                            </div>
                                            <div class="col-md-7 col-xs-7 col-sm-7">
                                                <select class="form-control">
                                                    <option> 1</option>
                                                    <option> 2</option>
                                                    <option> 3</option>
                                                    <option> 4</option>
                                                    <option> 5</option>
                                                    <option selected="selected">-- SKill Level 1-5 --</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix" style="height:20px"></div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <div class="col-md-5 col-sm-5 col-xs-5 remove-padding">
                                                <lable>Communication skills</lable>
                                            </div>
                                            <div class="col-md-7 col-xs-7 col-sm-7">
                                                <lable>Average/Total Score</lable>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix" style="height:5px"></div>
                                        <div class="form-group">
                                            <div class="col-md-5 col-sm-5 col-xs-5 remove-padding">
                                                <lable>Passing </lable>
                                            </div>
                                            <div class="col-md-7 col-xs-7 col-sm-7">
                                                <select class="form-control">
                                                    <option> 1</option>
                                                    <option> 2</option>
                                                    <option> 3</option>
                                                    <option> 4</option>
                                                    <option> 5</option>
                                                    <option selected="selected">-- SKill Level 1-5 -- </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix" style="height:5px"></div>
                                        <div class="form-group">
                                            <div class="col-md-5 col-sm-5 col-xs-5 remove-padding">
                                                <lable>Aggressiveness </lable>
                                            </div>
                                            <div class="col-md-7 col-xs-7 col-sm-7">
                                                <select class="form-control">
                                                    <option> 1</option>
                                                    <option> 2</option>
                                                    <option> 3</option>
                                                    <option> 4</option>
                                                    <option> 5</option>
                                                    <option selected="selected">-- SKill Level 1-5 --</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix" style="height:5px"></div>
                                        <div class="form-group">
                                            <div class="col-md-5 col-sm-5 col-xs-5 remove-padding">
                                                <lable>Positiveness</lable>
                                            </div>
                                            <div class="col-md-7 col-xs-7 col-sm-7">
                                                <select class="form-control">
                                                    <option> 1</option>
                                                    <option> 2</option>
                                                    <option> 3</option>
                                                    <option> 4</option>
                                                    <option> 5</option>
                                                    <option selected="selected">-- SKill Level 1-5 -- </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix" style="height:15px"></div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <div class="col-md-5 col-sm-5 col-xs-5 remove-padding">
                                                <lable>listning Skills</lable>
                                            </div>
                                            <div class="col-md-7 col-xs-7 col-sm-7">
                                                <lable>Average/Total Score</lable>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix" style="height:5px"></div>

                                        <div class="form-group">
                                            <div class="col-md-5 col-sm-5 col-xs-5 remove-padding">
                                                <lable>Understanding</lable>
                                            </div>
                                            <div class="col-md-7 col-xs-7 col-sm-7">
                                                <select class="form-control">
                                                    <option> 1</option>
                                                    <option> 2</option>
                                                    <option> 3</option>
                                                    <option> 4</option>
                                                    <option> 5</option>
                                                    <option selected="selected">-- SKill Level 1-5 -- </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix" style="height:5px"></div>

                                        <div class="form-group">
                                            <div class="col-md-5 col-sm-5 col-xs-5 remove-padding">
                                                <lable>Attitude</lable>
                                            </div>
                                            <div class="col-md-7 col-xs-7 col-sm-7">
                                                <select class="form-control">
                                                    <option> 1</option>
                                                    <option> 2</option>
                                                    <option> 3</option>
                                                    <option> 4</option>
                                                    <option> 5</option>
                                                    <option selected="selected">-- SKill Level 1-5 -- </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix" style="height:5px"></div>

                                    </div>

                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-6">

                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <div class="clearfix" style="height:25px"></div>
                                            <div class="col-md-5 col-sm-5 col-xs-5 remove-padding">
                                                <lable>Business Manner/behavior</lable>
                                            </div>
                                            <div class="col-md-7 col-xs-7 col-sm-7">
                                                <lable>Average/Total Score</lable>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix" style="height:5px"></div>
                                        <div class="form-group">
                                            <div class="col-md-5 col-sm-5 col-xs-5 remove-padding">
                                                <lable>Greetings</lable>
                                            </div>
                                            <div class="col-md-7 col-xs-7 col-sm-7">
                                                <select class="form-control">
                                                    <option> 1</option>
                                                    <option> 2</option>
                                                    <option> 3</option>
                                                    <option> 4</option>
                                                    <option> 5</option>
                                                    <option selected="selected">-- SKill Level 1-5 --</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix" style="height:5px"></div>
                                        <div class="form-group">
                                            <div class="col-md-5 col-sm-5 col-xs-5 remove-padding">
                                                <lable>Posture</lable>
                                            </div>
                                            <div class="col-md-7 col-xs-7 col-sm-7">
                                                <select class="form-control">
                                                    <option> 1</option>
                                                    <option> 2</option>
                                                    <option> 3</option>
                                                    <option> 4</option>
                                                    <option> 5</option>
                                                    <option selected="selected">-- SKill Level 1-5 -- </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix" style="height:5px"></div>
                                        <div class="form-group">
                                            <div class="col-md-5 col-sm-5 col-xs-5 remove-padding">
                                                <lable>Appearance</lable>
                                            </div>
                                            <div class="col-md-7 col-xs-7 col-sm-7">
                                                <select class="form-control">
                                                    <option> 1</option>
                                                    <option> 2</option>
                                                    <option> 3</option>
                                                    <option> 4</option>
                                                    <option> 5</option>
                                                    <option selected="selected">-- SKill Level 1-5 --</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix" style="height:5px"></div>
                                        <div class="form-group">
                                            <div class="col-md-5 col-sm-5 col-xs-5 remove-padding">
                                                <lable>Responce</lable>
                                            </div>
                                            <div class="col-md-7 col-xs-7 col-sm-7">
                                                <select class="form-control">
                                                    <option> 1</option>
                                                    <option> 2</option>
                                                    <option> 3</option>
                                                    <option> 4</option>
                                                    <option> 5</option>
                                                    <option selected="selected">-- SKill Level 1-5 --</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix" style="height:5px"></div>
                                        <div class="form-group">
                                            <div class="col-md-5 col-sm-5 col-xs-5 remove-padding">
                                                <lable>Talking Volume</lable>
                                            </div>
                                            <div class="col-md-7 col-xs-7 col-sm-7">
                                                <select class="form-control">
                                                    <option> 1</option>
                                                    <option> 2</option>
                                                    <option> 3</option>
                                                    <option> 4</option>
                                                    <option> 5</option>
                                                    <option selected="selected">-- SKill Level 1-5 --</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix" style="height:5px"></div>
                                        <div class="form-group">
                                            <div class="col-md-5 col-sm-5 col-xs-5 remove-padding">
                                                <lable>Appearance</lable>
                                            </div>
                                            <div class="col-md-7 col-xs-7 col-sm-7">
                                                <select class="form-control">
                                                    <option> 1</option>
                                                    <option> 2</option>
                                                    <option> 3</option>
                                                    <option> 4</option>
                                                    <option> 5</option>
                                                    <option selected="selected">-- SKill Level 1-5 --</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix" style="height:5px"></div>
                                        <div class="form-group">
                                            <div class="col-md-5 col-sm-5 col-xs-5 remove-padding">
                                                <lable>Way of Speaking</lable>
                                            </div>
                                            <div class="col-md-7 col-xs-7 col-sm-7">
                                                <select class="form-control">
                                                    <option> 1</option>
                                                    <option> 2</option>
                                                    <option> 3</option>
                                                    <option> 4</option>
                                                    <option> 5</option>
                                                    <option selected="selected">-- SKill Level 1-5 --</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix" style="height:5px"></div>
                                        <div class="form-group">
                                            <div class="col-md-5 col-sm-5 col-xs-5 remove-padding">
                                                <lable>Way of expression</lable>
                                            </div>
                                            <div class="col-md-7 col-xs-7 col-sm-7">
                                                <select class="form-control">
                                                    <option> 1</option>
                                                    <option> 2</option>
                                                    <option> 3</option>
                                                    <option> 4</option>
                                                    <option> 5</option>
                                                    <option selected="selected">-- SKill Level 1-5 --</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix" style="height:5px"></div>
                                        <div class="form-group">
                                            <div class="col-md-5 col-sm-5 col-xs-5 remove-padding">
                                                <lable>Talking Speed</lable>
                                            </div>
                                            <div class="col-md-7 col-xs-7 col-sm-7">
                                                <select class="form-control">
                                                    <option> 1</option>
                                                    <option> 2</option>
                                                    <option> 3</option>
                                                    <option> 4</option>
                                                    <option> 5</option>
                                                    <option selected="selected">-- SKill Level 1-5 --</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix" style="height:5px"></div>
                                        <div class="form-group">
                                            <div class="col-md-5 col-sm-5 col-xs-5 remove-padding">
                                                <lable>Eye Contact</lable>
                                            </div>
                                            <div class="col-md-7 col-xs-7 col-sm-7">
                                                <select class="form-control">
                                                    <option> 1</option>
                                                    <option> 2</option>
                                                    <option> 3</option>
                                                    <option> 4</option>
                                                    <option> 5</option>
                                                    <option selected="selected">-- SKill Level 1-5 --</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix" style="height:5px"></div>
                                        <div class="form-group">
                                            <div class="col-md-5 col-sm-5 col-xs-5 remove-padding">
                                                <lable>Face Expression</lable>
                                            </div>
                                            <div class="col-md-7 col-xs-7 col-sm-7">
                                                <select class="form-control">
                                                    <option> 1</option>
                                                    <option> 2</option>
                                                    <option> 3</option>
                                                    <option> 4</option>
                                                    <option> 5</option>
                                                    <option selected="selected">-- SKill Level 1-5 --</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="clearfix" style="height:5px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7 ">

                            <div class="col-md-12 col-sm-12 col-xs-12 bg-gray">

                                <div class="clearfix" style="height:25px"></div>

                                <div class="col-md-12 col-sm-12 col-xs-12 remove-padding">
                                    <div class="form-group">
                                        <label>Questioneer</label>
                                        <div class="clearfix"></div>
                                        <div class="col-md-3 col-sm-3 col-xs-3 remove-padding">
                                            <labels>How long are you staying in Japan?</labels>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <select class="form-control">
                                                <option>More than 5 years</option>
                                                <option>Platform </option>
                                            </select>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-3 col-sm-3 col-xs-3 remove-padding">
                                            <labels>How long do you want to work?</labels>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <select class="form-control">
                                                <option>6 Months to 1 year</option>
                                                <option>1 years to 5 years</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="clearfix" style="height: 40px;"></div>
                                <div class="col-md-12 col-sm-12 col-xs-12 remove-padding">

                                    <div class="col-md-2 col-sm-2 col-xs-2 remove-padding">
                                        <labels>Willing Employment type</labels>
                                        <ul class="list-unstyled">
                                            <li><input type="checkbox" class="checkbox pull-left" /> Fulltime </li>
                                            <li><input type="checkbox" class="checkbox pull-left" /> Contrautual</li>
                                            <li><input type="checkbox" class="checkbox pull-left" /> Dispatch </li>
                                            <li><input type="checkbox" class="checkbox pull-left" /> Parttime </li>
                                            <li><input type="checkbox" class="checkbox pull-left" /> Freelance </li>
                                        </ul>

                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">

                                        <labels>Points of emphasis</labels>
                                        <ul class="list-unstyled">
                                            <li><input type="checkbox" class="checkbox pull-left" /> Salary </li>
                                            <li><input type="checkbox" class="checkbox pull-left" /> Working Environment </li>
                                            <li><input type="checkbox" class="checkbox pull-left" /> Working place </li>
                                            <li><input type="checkbox" class="checkbox pull-left" /> Employment Type  </li>
                                            <li><input type="checkbox" class="checkbox pull-left" /> Job roll </li>
                                            <li><input type="checkbox" class="checkbox pull-left" /> Commuting time </li>
                                            <li><input type="checkbox" class="checkbox pull-left" /> Other </li>
                                        </ul>



                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">

                                        <labels>Getting the everyday information from...</labels>
                                        <ul class="list-unstyled">
                                            <li><input type="checkbox" class="checkbox pull-left" /> Internet (information website) </li>
                                            <li><input type="checkbox" class="checkbox pull-left" /> Internet (SNS) </li>
                                            <li><input type="checkbox" class="checkbox pull-left" /> Free Paper/magazene </li>
                                            <li><input type="checkbox" class="checkbox pull-left" /> Friend from own country  </li>
                                            <li><input type="checkbox" class="checkbox pull-left" /> Friend from Foreign country </li>
                                            <li><input type="checkbox" class="checkbox pull-left" /> Local Friend ( Japanese) </li>

                                            <div class="col-md-3 col-sm-3 col-xs-3 remove-padding">
                                                <li><input type="checkbox" class="checkbox pull-left" /> Others </li>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 remove-padding" show-errors>
                                                <input type="text" placeholder="" class="form-control" ng-model="vm.others" ng-required="true" />
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">


                                        <labels>Web site visiting often</labels>
                                        <ul class="list-unstyled">
                                            <li><input type="checkbox" class="checkbox pull-left" /> Google</li>
                                            <li><input type="checkbox" class="checkbox pull-left" /> Yahoo! </li>
                                            <li><input type="checkbox" class="checkbox pull-left" /> Facebook </li>
                                            <li><input type="checkbox" class="checkbox pull-left" /> Hotmail </li>
                                            <li><input type="checkbox" class="checkbox pull-left" /> Twitter </li>
                                            <li><input type="checkbox" class="checkbox pull-left" /> Hiwork </li>

                                            <div class="col-md-3 col-sm-3 col-xs-3 remove-padding">
                                                <li><input type="checkbox" class="checkbox pull-left" /> Other </li>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 remove-padding" show-errors>
                                                <input type="text" placeholder="" class="form-control" ng-model="vm.others2" ng-required="true" />
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="clearfix" style="height: 160px;"></div>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 col-xs-12 col-sm-12">

                        <lables></lables>
                        <div class="clearfix" style="height: 20px;"></div>
                    </div>


                    <div class="col-md-12 col-xs-12 col-sm-12 ">
                        <div class="col-md-12 col-xs-12 col-sm-12 ">
                            <div class="col-md-12 col-xs-12 col-sm-12 bg-gray">
                                <div class="col-md-12 col-xs-12 col-sm-12  ">
                                    <div class="clearfix" style="height: 10px;"></div>
                                    <lable>Contact History</lable>
                                    <div class="clearfix" style="height: 10px;"></div>

                                    <table class="table remove-margin table-responsive" style="padding: 10px;">
                                        <thead class="bg-light-blue">
                                            <tr>
                                                <td>Date</td>
                                                <td>Display till</td>
                                                <td>How</td>
                                                <td>Department</td>
                                                <td>Company name</td>
                                                <td>Detail</td>
                                                <td>Person In Charge</td>
                                                <td> Note/Memo</td>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>2017/07/03</td>
                                                <td>Ever</td>
                                                <td>Phone </td>
                                                <td>HR</td>
                                                <td>ABC COmpany</td>
                                                <td>Sample Text</td>
                                                <td>Sample Text</td>
                                                <td><div show-errors><input type="text" placeholder="NOTE" class="form-control" ng-model="vm.note1" ng-required="true" /></div></td>


                                            </tr>
                                            <tr>
                                                <td>2017/07/03</td>
                                                <td>1 Year</td>
                                                <td>Skypee</td>
                                                <td>HR</td>
                                                <td>2001/01/2</td>
                                                <td>BDGS Company</td>
                                                <td>Sample Text</td>
                                                <td><div show-errors><input type="text" placeholder="NOTE" class="form-control" ng-model="vm.note2" ng-required="true" /></div></td>

                                            </tr>
                                            <tr>
                                                <td>2017/07/03</td>
                                                <td>2 months</td>
                                                <td>Sample Text </td>
                                                <td>CA</td>
                                                <td>2001/01/2</td>
                                                <td>Sample Text</td>
                                                <td>Sample Text</td>
                                                <td><div show-errors><input type="text" placeholder="NOTE" class="form-control" ng-model="vm.note3" ng-required="true" /></div></td>

                                            </tr>
                                        </tbody>

                                    </table>
                                    <div class="clearfix" style="height: 20px;"></div>


                                </div>
                            </div>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>