<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            List Of Staff
        </h3>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="">Company Information</div>
                    <div class="col-sm-4 remove-padding">
                        <input class="form-control" placeholder="" style="" type="text">
                    </div>
                    <div class="col-sm-8 remove-padding">
                        <div class="input-group">
                            <input readonly="" value="" class="form-control selection-input" placeholder="" type="text">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary custom-input-group-btn">S</button>
                            </span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="clearfix" style="height: 3px;"></div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12 remove-padding">
                        Company e-mail
                        <input class="form-control" placeholder="" style="" type="text">
                    </div>
                    <div class="clearfix"></div>
                    <div class="clearfix" style="height: 3px;"></div>
                </div>

                <div class="form-group">
                    <div class="">Employee in charge</div>
                    <div class="col-sm-4 remove-padding">
                        <input class="form-control" placeholder="" style="" type="text">
                    </div>
                    <div class="col-sm-8 remove-padding">
                        <div class="input-group">
                            <input readonly="" value="" class="form-control selection-input" placeholder="" type="text">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary custom-input-group-btn">S</button>
                            </span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="clearfix" style="height: 3px;"></div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <div class="">Company Information</div>
                    <div class="col-sm-5 remove-padding">
                        <div class="input-group">
                            <input id="contactDate" class="form-control ng-pristine ng-valid ng-isolate-scope ng-empty ng-valid-date ng-touched" uib-datepicker-popup="dd/MM/yyyy" min-date="dateFrom" max-date="dateTo" close-text="Close" ng-model="vm.EstimationModel.InquiryDate" show-weeks="true" is-open="contactFromOpened2" ng-click="contactFromOpened2 = true" filter-by="placed" filter-type="dateFrom" ng-blur="gridActions.filter()" ng-focus="gridActions.filter()" style="" type="text"><div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" style=""><!-- ngIf: isOpen --></div>
                            <div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty ng-valid-date-disabled" style=""><!-- ngIf: isOpen --></div>
                            <span class="input-group-btn">
                                <span for="contactDate" class="btn btn-default remove-padding">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-1 remove-padding text-center">
                        ~
                    </div>
                    <div class="col-sm-6 remove-padding">
                        <div class="input-group">
                            <input id="contactDate" class="form-control ng-pristine ng-valid ng-isolate-scope ng-empty ng-valid-date ng-touched" uib-datepicker-popup="dd/MM/yyyy" min-date="dateFrom" max-date="dateTo" close-text="Close" ng-model="vm.EstimationModel.InquiryDate" show-weeks="true" is-open="contactFromOpened2" ng-click="contactFromOpened2 = true" filter-by="placed" filter-type="dateFrom" ng-blur="gridActions.filter()" ng-focus="gridActions.filter()" style="" type="text"><div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" style=""><!-- ngIf: isOpen --></div>
                            <div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty ng-valid-date-disabled" style=""><!-- ngIf: isOpen --></div>
                            <span class="input-group-btn">
                                <span for="contactDate" class="btn btn-default remove-padding">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="clearfix" style="height: 3px;"></div>
                </div>

                <div class="form-group">
                    <div class="">Planed sales date</div>
                    <div class="col-sm-5 remove-padding">
                        <div class="input-group">
                            <input id="contactDate" class="form-control ng-pristine ng-valid ng-isolate-scope ng-empty ng-valid-date ng-touched" uib-datepicker-popup="dd/MM/yyyy" min-date="dateFrom" max-date="dateTo" close-text="Close" ng-model="vm.EstimationModel.InquiryDate" show-weeks="true" is-open="contactFromOpened2" ng-click="contactFromOpened2 = true" filter-by="placed" filter-type="dateFrom" ng-blur="gridActions.filter()" ng-focus="gridActions.filter()" style="" type="text"><div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" style=""><!-- ngIf: isOpen --></div>
                            <div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty ng-valid-date-disabled" style=""><!-- ngIf: isOpen --></div>
                            <span class="input-group-btn">
                                <span for="contactDate" class="btn btn-default remove-padding">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-1 remove-padding text-center">
                        ~
                    </div>
                    <div class="col-sm-6 remove-padding">
                        <div class="input-group">
                            <input id="contactDate" class="form-control ng-pristine ng-valid ng-isolate-scope ng-empty ng-valid-date ng-touched" uib-datepicker-popup="dd/MM/yyyy" min-date="dateFrom" max-date="dateTo" close-text="Close" ng-model="vm.EstimationModel.InquiryDate" show-weeks="true" is-open="contactFromOpened2" ng-click="contactFromOpened2 = true" filter-by="placed" filter-type="dateFrom" ng-blur="gridActions.filter()" ng-focus="gridActions.filter()" style="" type="text"><div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty" style=""><!-- ngIf: isOpen --></div>
                            <div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty ng-valid-date-disabled" style=""><!-- ngIf: isOpen --></div>
                            <span class="input-group-btn">
                                <span for="contactDate" class="btn btn-default remove-padding">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="clearfix" style="height: 3px;"></div>
                </div>

                <div class="form-group">
                    Business Classification
                    <select class="form-control" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    Flyer type
                    <select class="form-control" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>

                <div class="form-group">
                    Transaction Record
                    <input class="form-control" placeholder="" style="" type="text">
                    <div class="clearfix"></div>
                    <div class="clearfix" style="height: 3px;"></div>
                </div>

                <div class="form-group">
                    Record Category：
                    <select class="form-control" id="">
                        <option>web</option>
                        <option>管理画面</option>
                        <option>ALL</option>
                    </select>
                </div>
            </div>


            <div class="col-md-2">
                <div class="form-group">
                    Trading with
                    <select class="form-control" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>

                <div class="form-group">
                    Phone Number
                    <input class="form-control" placeholder="" style="" type="text">
                    <div class="clearfix"></div>
                    <div class="clearfix" style="height: 3px;"></div>
                </div>

                <div class="form-group">
                    Address
                    <input class="form-control" placeholder="" style="" type="text">
                    <div class="clearfix"></div>
                    <div class="clearfix" style="height: 3px;"></div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group margin-top23">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">Visit
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">Phone call
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">Greeting Card
                    </label>
                </div>

                <div class="form-group margin-top23">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">b-cause
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">Coody
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">ALL
                    </label>
                </div>

                <div class="form-group margin-top23">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">使わない
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">削除画面
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">全て表示
                    </label>
                </div>
            </div>
        </div>

        <div class="clearfix" style="border-bottom:1px solid #ddd; margin:15px 0;"></div>

        <div class="table-responsive">
            <div class="grid" ui-grid="gridOptions" ui-grid-pagination ui-grid-save-state ui-grid-cellNav ui-grid-resize-columns ui-grid-auto-resize ui-grid-move-columns ui-grid-exporter ng-style="getTableHeight()"></div>
            <div class="text-center">
                <ul uib-pagination total-items="gridOptions.totalItems" items-per-page="gridOptions.paginationPageSize" ng-model="gridOptions.paginationCurrentPage"></ul>
            </div>
        </div>
    </div>
</div>